<a href="https://colab.research.google.com/github/JungMinNoh/19-lab/blob/master/%EA%B3%B5%ED%95%99%EC%A0%84%EC%82%B0%EC%9D%91%EC%9A%A9%204%EC%9E%A5%20%EC%97%B0%EC%8A%B5%EB%AC%B8%EC%A0%9C%2C%EB%A7%88%EC%9A%B4%ED%8A%B8%20%EC%88%99%EC%A0%9C.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
from google.colab import drive
drive.mount('/content/drive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3Aietf%3Awg%3Aoauth%3A2.0%3Aoob&scope=email%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdocs.test%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive.photos.readonly%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fpeopleapi.readonly&response_type=code

Enter your authorization code:
··········
Mounted at /content/drive

# 4장 연습문제 - 14108334 노정민

## Q1
---

주어진 자연수가 홀수인지 짝수인지 판별해 주는 함수(is_odd)를 작성해 보자.

In [0]:
def is_odd(number):
  if number %2 == 1:
    return True
  else:
    return False

In [7]:
is_odd(1)

True

In [8]:
is_odd(2)

False

In [0]:
is_odd = lambda x: True if x % 2 == 1 else False

In [11]:
is_odd(3)

True

## Q2
---

입력으로 들어오는 모든 수의 평균 값을 계산해 주는 함수를 작성해 보자. (단 입력으로 들어오는 수의 개수는 정해져 있지 않다.)  
※ 평균 값을 구할 때 len 함수를 사용해 보자.

In [0]:
def average(*args):
  result = 0
  for i in args:
    result += i
  return result / len(args)

In [13]:
average(1,2)

1.5

In [14]:
average(1,2,3,4,5)

3.0

## Q3
---

다음은 두 개의 숫자를 입력받아 더하여 돌려주는 프로그램이다.

input1 = input("첫번째 숫자를 입력하세요:")  
input2 = input("두번째 숫자를 입력하세요:")  

total = input1 + input2  
print("두 수의 합은 %s 입니다" % total)

이 프로그램을 수행해 보자.  
첫번째 숫자를 입력하세요:3  
두번째 숫자를 입력하세요:6  
두 수의 합은 36 입니다  
3과 6을 입력했을 때 9가 아닌 36이라는 결괏값을 돌려주었다. 이 프로그램의 오류를 수정해 보자.  
※ int 함수를 사용해 보자.

In [15]:
input1 = input("첫번째 숫자를 입력하세요:")
input2 = input("두번째 숫자를 입력하세요:")

total = input1 + input2
print("두 수의 합은 %s 입니다" % total)

첫번째 숫자를 입력하세요:3
두번째 숫자를 입력하세요:6
두 수의 합은 36 입니다

In [16]:
input1 = input("첫 번째 숫자를 입력하세요:")
input2 = input("두 번째 숫자를 입력하세요:")

total = int(input1) + int(input2)      
print("두수의 합은 %s 입니다" % total)

첫 번째 숫자를 입력하세요:3
두 번째 숫자를 입력하세요:6
두수의 합은 9 입니다

## Q4
---

다음 중 출력 결과가 다른 것 한 개를 골라 보자.  
print("you" "need" "python")  
print("you"+"need"+"python")  
print("you", "need", "python")  
print("".join(["you", "need", "python"]))

In [19]:
print("you" "need" "python")  
print("you"+"need"+"python")  
print("you", "need", "python")  
print("".join(["you", "need", "python"]))

youneedpython
youneedpython
you need python
youneedpython

In [23]:
print("you" "need" "python")  
print("you"+"need"+"python")  
print("you","need", "python")  # 콤마가 있는 경우 공백이 삽입되어 더해진다.
print(" ".join(["you", "need", "python"])) #공백을 넣고 싶으면 " "에 공백을 한칸 넣어 준다

youneedpython
youneedpython
you need python
you need python

## Q5
---

다음은 "test.txt"라는 파일에 "Life is too short" 문자열을 저장한 후 다시 그 파일을 읽어서 출력하는 프로그램이다.  
  
f1 = open("test.txt", 'w')  
f1.write("Life is too short")  
  
f2 = open("test.txt", 'r')  
print(f2.read())  

이 프로그램은 우리가 예상한 "Life is too short"라는 문장을 출력하지 않는다. 우리가 예상한 값을 출력할 수 있도록 프로그램을 수정해 보자.

In [24]:
f1 = open("test.txt", 'w')  
f1.write("Life is too short")  
  
f2 = open("test.txt", 'r')  
print(f2.read())

In [32]:
f1 = open("test.txt", 'w')  
f1.write("Life is too short")
  
f2 = open("test.txt", 'r')
data = f2.read() # data 로 지정 해 준 후 읽는다
print(data)

Life is too short

In [30]:
f1 = open("test.txt", 'w')
f1.write("Life is too short")
f1.close() #close 를 사용해 저장해준후 파일을 오픈한다

f2 = open("test.txt", 'r')
print(f2.read())

Life is too short

## Q6
---

사용자의 입력을 파일(test.txt)에 저장하는 프로그램을 작성해 보자. (단 프로그램을 다시 실행하더라도 기존에 작성한 내용을 유지하고 새로 입력한 내용을 추가해야 한다.)

In [35]:
user_input = input("저장할 내용을 입력하세요:")
f = open('test.txt', 'a')   # 내용을 추가하기 위해서 'a'를 사용
f.write(user_input)
f.write("\n")               # 입력된 내용을 줄 단위로 구분하기 위해 줄 바꿈 문자 삽입
f.close()

저장할 내용을 입력하세요:1

## Q7
---

다음과 같은 내용을 지닌 파일 test.txt가 있다. 이 파일의 내용 중 "java"라는 문자열을 "python"으로 바꾸어서 저장해 보자.  
Life is too short  
you need java  
※ replace 함수를 사용해 보자.

In [54]:
f = open('test.txt','w')
f.write("Life is too short \n you need java")
f.close()

f = open('test.txt', 'r')
body = f.read()
f.close()

body = body.replace('java', 'python')

f = open('test.txt', 'w')
f.write(body)
f.close()

f = open("test.txt", 'r')
data = f.read()
print(data)
f.close()

Life is too short
 you need python